@transparent: rgba(54, 4, 84, .38);
@container-color: white;
@border-color:rgb(108, 247, 163);
@footer-background: rgb(23, 55, 111);

html
{
    height: 100%;
    width: 100%;
}

footer
{
  color: @container-color;
  background-color: @footer-background;
  position: fixed;
  bottom: 0;
}
.container
{
  background-color: @transparent;
  color: @container-color;
  max-width: 1200px;
}

.btn-outline-success
{
  border-color: @border-color;
  color: @border-color;
}

.btn-outline-success:hover
{
  background-color: @border-color;
}

h3
{
  padding-top: 5px;
}

.lead
{
  padding-bottom: 10px;
}
