svg
{
  width: 800px;
  height: 420px;
  display: block;
  background-color: white;
  margin: auto;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.line {
  fill: none;
  stroke: rgba(55, 196, 233, 0.53);
  stroke-width: 4px;
}
